D:\Learning_Terraform_For_Abhishek\Day-03\.terraform
D:\Learning_Terraform_For_Abhishek\Day-03\local-exec\.terraform
D:\Learning_Terraform_For_Abhishek\Day-03\remote-exec\.terraform
D:\Learning_Terraform_For_Abhishek\Day-03\.terraform.lock.hcl
*.pem