D:\Learning_Terraform_For_Abhishek\Environment\Networking\VPC\Dev\.terraform
D:\Learning_Terraform_For_Abhishek\Environment\Networking\VPC\Dev\.terraform.lock.hcl
D:\Learning_Terraform_For_Abhishek\Environment\Networking\VPC\Prod\.terraform
D:\Learning_Terraform_For_Abhishek\Environment\Networking\VPC\Prod\.terraform.lock.hcl

D:\Learning_Terraform_For_Abhishek\Environment\Networking\VPC\Qa\.terraform
D:\Learning_Terraform_For_Abhishek\Environment\Networking\VPC\Qa\.terraform.lock.hcl
D:\Learning_Terraform_For_Abhishek\Environment\Networking\VPC\Uat\.terraform
D:\Learning_Terraform_For_Abhishek\Environment\Networking\VPC\Uat\.terraform.lock.hcl

D:\Learning_Terraform_For_Abhishek\Environment\Compute\Ec2\Dev\.terraform
D:\Learning_Terraform_For_Abhishek\Environment\Compute\Ec2\Dev\.terraform.lock.hcl
D:\Learning_Terraform_For_Abhishek\Environment\Compute\Ec2\Uat\.terraform
D:\Learning_Terraform_For_Abhishek\Environment\Compute\Ec2\Uat\.terraform.lock.hcl
D:\Learning_Terraform_For_Abhishek\Environment\Compute\Ec2\Dev\.terraform
D:\Learning_Terraform_For_Abhishek\Environment\Compute\Ec2\Dev\.terraform.lock.hcl
D:\Learning_Terraform_For_Abhishek\Environment\Compute\Ec2\Uat\.terraform
D:\Learning_Terraform_For_Abhishek\Environment\Compute\Ec2\Uat\.terraform.lock.hcl