D:\Learning_Terraform_For_Abhishek\Day-04\.terraform.lock.hcl
D:\Learning_Terraform_For_Abhishek\Day-04\.terraform\terraform.tfstate
D:\Learning_Terraform_For_Abhishek\Day-04\.terraform\providers
D:\Learning_Terraform_For_Abhishek\Day-04\.terraform